<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="http://bootswatch.com/cerulean/bootstrap.min.css" rel="stylesheet">
  

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-1">
        {{{resume}}}
        </div>
        <div class="col-md-2">
        <br />
          <a href="/{{username}}.md" style="width: 100%;" class="btn btn-primary">Markdown</a>
          <br/>
          <a href="/{{username}}.txt" style="width: 100%;" class="btn btn-info">Text</a>
          <br/>
          <a href="/{{username}}.pdf" style="width: 100%;" class="btn btn-warning">PDF</a>
          <br/>
          <a href="/{{username}}.json" style="width: 100%;" class="btn btn-success">JSON</a>
        </div>
        </div>
    </div>
  </body>
</html>
