<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Json Resume</title>

    <!-- Bootstrap -->
    <link href="http://bootswatch.com/lumen/bootstrap.min.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="app"></div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.10.0/react.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.10.0/JSXTransformer.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/jsx">
      /** @jsx React.DOM */

      var LoginForm = React.createClass({
          render: function () {
              return (
                <form>
                  <input type="text" />
                  <input type="button" value="Login" />
                </form>
              );
              //React.DOM.div({className: 'container'}, 'Hello', this.props.name);
          }
      });

      var App = React.createClass({
          render: function () {
              return (
                <div className="container">
                  <h3>Hello {this.props.name}</h3>
                  <LoginForm />
                </div>
              );
              //React.DOM.div({className: 'container'}, 'Hello', this.props.name);
          }
      });

      React.renderComponent(<App name="Thomas" />, $('.app')[0]);

      </script>
   
  </body>
</html>
